body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: "montserrat";
  background-image: linear-gradient(90deg,AliceBlue,Lavender,HoneyDew,LightCyan,Cornsilk);
  background-size: 400% 400%;
  animation: bganimation 15s infinite;
}

*{
  padding: 0;
  margin: 0;
  font-family: "montserrat", sans-serif;
}

form {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text animation */

.container{
  text-align: center;
  position: absolute;
  top: 8.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: black;
  position: relative;
  animation: text 3s 1;
}

.text2{
  font-size: 30px;
  color: black;
}

@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}

/* Contact form */

.contact-section{
  background-size: cover;
  padding: 5px 0;
}

.contact-section h1{
  text-align: center;
  color: #000;
}

.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
  resize: none;
  height: 120px;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover{
  background: #2980b9;
}

/* Background animation */
.text{
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 350px 0;
  font-size: 22px;
}

@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

/* Button */
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,.btn2{
  color: black;
}

.btn3,.btn4{
  color: #fff;
}

.btn1:hover,.btn2:hover{
  color: #fff;
}

.btn3:hover,.btn4:hover{
  color: black;
}

.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn3::before,.btn4::before{
  height: 180%;
}

.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}

.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}

/* Tables */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/* Gallery */

.gallery-section{
  width: 100%;
  padding: 60px 0;
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.01) rotate(0deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}

/* ... */

