{% extends 'base.html' %}

{% block head %}

    <title>Title'as</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>

    <h2 style="text-align:center" >Number of {{ pdb_id }} clusters: {{ clusters | length }}</h2>

    <table class="content-table" style="text-align:center;">
        <thead>
        <tr>
            <th>Cluster</th>
        </tr>
        </thead>
        <tbody>
        {% for cluster in clusters %}
            <tr>
                <td> <a href="/cluster/info/{{cluster}}" > {{ cluster }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

