{% extends 'base.html' %}

{% block head %}

    <title>Title'as</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>

    <h2 style="text-align:center">Number of complexes: {{ info | length }}</h2>

    <table class="content-table">
        <thead>
        <tr>
            <th>Protein complex</th>
            <th>Number of edges before</th>
            <th>Number of edges after</th>
            <th>Number of cut edges</th>
            <th>Minimal cut edges</th>
            <th>Maximal cut edges</th>
            <th>Minimal uncut edge</th>
        </tr>
        </thead>
        <tbody>
        {% for info_line in info %}
            <tr>
               {% for info_field in info_line %}
                    {% if loop.index == 1 %}
                        <td> <a href="/complex/info/{{info_field}}" > {{ info_field }} </td>
                    {% else %}
                        <td> {{info_field}} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

