{% extends 'base.html' %}

{% block head %}

    <title>Title'as</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>

    <h2 style="text-align:center" >{{ biounit_no }} belongs to <a href="/cluster/info/{{cluster}}" > {{ cluster }} </a> </h2>

{% endblock %}

