{% extends 'base.html' %}

{% block head %}

    <title>Title'as</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>
    
    <h2 style="text-align:center">Number of interactions: {{ info | length }}</h2>

    <table class="content-table">
        <thead>
        <tr>
            <th>Pdb ID</th>
            <th>Biounit No</th>
            <th>d1</th>
            <th>d1 symmetry</th>
            <th>d1 cluster 95</th>
            <th>d2</th>
            <th>d2 symmetry</th>
            <th>d2 cluster 95</th>
            <th>Interaction ID</th>
            <th>Interface ID</th>
            <th>i sequence cluster 95</th>
            <th>i cluster 95 50</th>
            <th>Area</th>
            <th>Complex ID</th>
            <th>To be pruned</th>
            <th>Betweenness centrality</th>
        </tr>
        </thead>
        <tbody>
        {% for info_line in info %}
            <tr>
               {% for info_field in info_line %}
                    {% if loop.index == 1 %}
                        <td> <a href="https://www.rcsb.org/structure/{{ info_field }}" > {{ info_field }} </td>
                    {% else %}
                        <td> {{info_field}} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

