{% extends 'base.html' %}

{% block head %}

    <title>Title'as</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>

    <div class="gallery-section">
        <div class="gallery">

        {% for info_line in info %}
          <a href="{{ url_for('static', filename=info_line) }}" class="image">
            <img src="{{ url_for('static', filename=info_line) }}" alt="">
          </a>
        {% endfor %}

        </div>
    </div>

  <script>
    $(".gallery").magnificPopup({
      delegate: 'a',
      type: 'image',
      gallery:{
        enabled: true
      }
    });
  </script> 

{% endblock %}

