{% extends 'base.html' %}

{% block head %}

    <title>Proteins info</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>
    
    {% if code == "1" %}

        <p>Cluster query does not match it's regex. Cluster should be written as veNclN where N is a natural number which corresponds to vertices and cluster number accordingly.</p>

    {% elif code == "2" %}

        <p>Complexes query by PDB ID does not match it's regex. PDB ID should be written as NSSS where N is a natural number and S is natural number or letter symbol.</p>
    
    {% elif code == "3" %}

        <p>Complexes query by PDB ID and Biounit No does not match it's regex. PDB ID with Biounit No should be written as NSSS_N where N is a natural number and S is natural number or letter symbol.</p>

    {% elif code == "4" %}

        <p>Where is no data about such protein complex.</p>
    
    {% elif code == "5" %}

        <p>Where is no data about such PDB ID.</p>

    {% elif code == "6" %}

        <p>Where is no data about such cluster.</p>

    {% endif %}

{% endblock %}

