{% extends 'base.html' %}

{% block head %}

    <title>Proteins info</title>

{% endblock %}

{% block body %}

    <div class="container">
      <span class="text1">Welcome!</span>
      <span class="text2">Here you can get info about protein complexes</span>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="contact-section">
      <h1>Get cluster's subclusters</h1>
      <form class="contact-form" action="/" method="POST">
        <input type="text" name="cluster" class="contact-form-text" placeholder="Enter cluster ID" id="cluster">
        <input type="submit" class="contact-form-btn" value="Find subclusters">
      </form>
    </div>
    
    <div class="contact-section">
      <h1>Get cluster's superclusters</h1>
      <form class="contact-form" action="/" method="POST">
        <input type="text" name="scluster" class="contact-form-text" placeholder="Enter cluster ID" id="scluster">
        <input type="submit" class="contact-form-btn" value="Find superclusters">
      </form>
    </div>

    <div class="contact-section">
      <h1>Get complex's clusters</h1>
      <form class="contact-form" action="/" method="POST">
        <input type="text" name="pdb_id" class="contact-form-text" placeholder="Enter PDB ID" id="pdb_id">
        <input type="text" name="biounit_no" class="contact-form-text" placeholder="Enter Biounit No" id="biounit_no">
        <input type="submit" class="contact-form-btn" value="Find clusters">
      </form>
    </div>

    <div class="contact-section">
      <h1>Get cluster's info</h1>
      <form class="contact-form" action="/" method="POST">
        <input type="text" name="cluster_id" class="contact-form-text" placeholder="Enter cluster ID" id="cluster_id">
        <input type="submit" class="contact-form-btn" value="Get info table">
      </form>
    </div>

    <div class="contact-section">
      <h1>Get complex's info</h1>
      <form class="contact-form" action="/" method="POST">
        <input type="text" name="complex_id" class="contact-form-text" placeholder="Enter complex ID" id="complex_id">
        <input type="submit" class="contact-form-btn" value="Get info table">
      </form>
    </div>

    <div class="contact-section">
      <h1>Get cluster's visualizations</h1>
      <form class="contact-form" action="/" method="POST">
        <input type="text" name="complex_vis" class="contact-form-text" placeholder="Enter cluster ID" id="complex_vis">
        <input type="submit" class="contact-form-btn" value="Get visualization gallery">
      </form>
    </div>

    <p>
        <a href="https://www.rcsb.org/">
        <img src="{{url_for('static', filename='1gjp.png')}}" class="center"/>
    </p>
    
{% endblock %}

