{% extends 'base.html' %}

{% block head %}

    <title>Subclusters</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>

    <h2 style="text-align:center">Number of subclusters: {{ subclusters | length }}</h2>

    <table class="content-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of vertices</th>
            <th>Set of vertices</th>
            <th>Colours number</th>
        </tr>
        </thead>
        <tbody>
        {% for subcluster in subclusters %}
            <tr>
                <td> <a href="/cluster/info/{{subcluster.name}}" > {{ subcluster.name }} </td>
                <td> {{ subcluster.vertices_nr }} </td>
                <td> {{ subcluster.set }} </td>
                <td> {{ subcluster.colours_nr }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

