{% extends 'base.html' %}

{% block head %}

    <title>Superclusters</title>

{% endblock %}

{% block body %}

    <form method='POST'>
        <button class="btn btn3">Go to title page</button>
    </form>

    <h2 style="text-align:center">Number of superclusters: {{ superclusters | length }}</h2>

    <table class="content-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Number of vertices</th>
            <th>Set of vertices</th>
            <th>Colours number</th>
        </tr>
        </thead>
        <tbody>
        {% for supercluster in superclusters %}
            <tr>
                <td> <a href="/cluster/info/{{supercluster.name}}" > {{ supercluster.name }} </td>
                <td> {{ supercluster.vertices_nr }} </td>
                <td> {{ supercluster.set }} </td>
                <td> {{ supercluster.colours_nr }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


